.cardContainer {
    width: '200px';  /*Ajuste conforme necessário*/
    border: '1px solid #ccc';
    border-radius: '8px';
    padding: '16px';
    text-align: 'center';
    box-shadow: '0 2px 5px rgba(0,0,0,0.1)';
    margin: '10px';
}
.image {
    width: '100px'; /*Ajuste conforme necessário*/ 
    height: '100px';
    object-fit: 'cover';
    margin-bottom: '12px';
}
.title{
    font-size: '18px';
    font: 'bold';
    margin: '10px 0';
}
.divider {
    margin: '10px 0';
    border: 'none';
    border-top: '1px solid #ccc';
}
.text {
    font-size: '14px';
    color: '#555'
}