@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #6e5590;
    --color-secondary: #5d3e68;
    --color-tertiary: #392256;
    --color-quaternary: #291b3f;
    --color-quinary: #1e1325;
  }

  body {
    /*Adicionar fonts*/
  }
}
