@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@layer base {
  :root {
    --color-primary: #6e5590;
    --color-secondary: #5d3e68;
    --color-tertiary: #392256;
    --color-quaternary: #291b3f;
    --color-quinary: #1e1325;
  }

  body {
    /*Adicionar fonts*/
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 61px;
  }
}
